{% if page.metafields["custom_fields"]["faqs"] != blank %}
  <div class="custom-field custom-field__faqs custom-field__type--field-collection-json">
    <h3 class="custom-field--title">faqs</h3>
    <div class="custom-field--value">
      {% for item in page.metafields["custom_fields"]["faqs"] %}
        <div class="fc-item fc-index--{{ forloop.index0 }}">
           {% if item["title"] != blank %}
             <div class="fc-field field__title field-type--text">
               <h4 class="custom-field--title">title</h4>
               <div class="custom-field--value">
                 {{ item["title"] }}
               </div>
             </div>
           {% endif %}
           {% if item["answer"] != blank %}
             <div class="fc-field field__answer field-type--text">
               <h4 class="custom-field--title">answer</h4>
               <div class="custom-field--value">
                 {{ item["answer"] }}
               </div>
             </div>
           {% endif %}
           {% if item["category"] != blank %}
             <div class="fc-field field__category field-type--text">
               <h4 class="custom-field--title">category</h4>
               <div class="custom-field--value">
                 {{ item["category"] }}
               </div>
             </div>
           {% endif %}
         </div>
       {% endfor %}
    </div>
  </div>
{% endif %}