.component-accordion-faq__item {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 20px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  background: rgb(var(--color-base-background-1));
  justify-content: space-between;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(var(--color-base-background-2));
  padding: 25px 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.component-accordion-faq__item:after {
  content: "▲";
}

.component-accordion-faq__item:hover {
  color: rgba(var(--color-base-accent-1), 0.7);
}

.component-accordion-faq__item.component-accordion-faq__item--active {
  border-bottom: none;
  color: rgb(var(--color-base-accent-1));
}

.component-accordion-faq__item.component-accordion-faq__item--active:after {
  border-bottom: none;
  transform: rotate(180deg);
}

.component-accordion-faq__content {
  display: none;
  border-bottom: 1px solid rgb(var(--color-base-background-2));
  background: rgb(var(--color-base-background-1));
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 24px;
}

.component-accordion-faq__content.component-accordion-faq__content--visible {
  display: block;
}
