.component-search-broadcast__wrap {
  display: flex;
  position: relative;
  height: 40px;
  border: var(--inputs-border-width) solid rgba(var(--color-foreground), var(--inputs-border-opacity));
  background-color: rgb(var(--color-background));
  border-radius: var(--inputs-radius);
  color: inherit;
}


.component-search-broadcast__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: none;
  background: none;
  color: inherit;
}

.component-search-broadcast__icon {
  width: 18px;
  height: 18px;
  color: currentColor;
}

.component-search-broadcast__input {
  flex-grow: 1;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
}
