.component-accordion-faq {
  font-family: "Brandon Grotesque", sans-serif;
}

.component-accordion-faq__item {
  font-family: inherit;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 20px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  background: rgb(var(--color-base-background-1));
  justify-content: space-between;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(var(--color-base-background-2));
  padding: 25px 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.component-accordion-faq__item:after {
  content: "▲";
}

.component-accordion-faq__item:hover {
  color: rgba(var(--color-base-accent-1), 0.7);
}

.component-accordion-faq__item.component-accordion-faq__item--active {
  border-bottom: none;
  color: rgb(var(--color-base-accent-1));
}

.component-accordion-faq__item.component-accordion-faq__item--active:after {
  border-bottom: none;
  transform: rotate(180deg);
}

.component-accordion-faq__content {
  display: none;
  border-bottom: 1px solid rgb(var(--color-base-background-2));
  background: rgb(var(--color-base-background-1));
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 24px;
}

.component-accordion-faq__content.component-accordion-faq__content--visible {
  display: block;
}

.component-accordion-faq__stub {
  background:  rgb(var(--color-base-background-1));
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 100px;
  display: none;
}

.component-accordion-faq__stub--visible {
  display: block;
}

.component-accordion-faq__stub h2 {
  font-family: "Brandon Printed", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
  margin: 6px 0;
}

.component-accordion-faq__stub p {
  font-size: 18px;
  line-height: 28px;
  margin-top: 6px;
}
